workflows/03-state-analyzer.json
{
  "name": "State Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "state-analyzer",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-state-analyzer",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "state-analyzer"
    },
    {
      "parameters": {
        "jsCode": "// Parse input from Historial\nconst input = $json.body || $json;\n\nconst phone = input.phone || '';\nconst historial = input.historial || [];\nconst pendingMessages = input.pending_messages || [];\nconst capturedData = input.captured_data || {};\nconst intentsVistos = input.intents_vistos || [];\n\nconsole.log('\ud83d\udcca STATE ANALYZER INPUT:');\nconsole.log('Phone:', phone);\nconsole.log('Historial messages:', historial.length);\nconsole.log('Pending messages:', pendingMessages.length);\nconsole.log('Intents vistos:', intentsVistos);\n\nreturn {\n  phone,\n  historial,\n  pending_messages: pendingMessages,\n  captured_data: capturedData,\n  intents_vistos: intentsVistos\n};"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare messages for Claude API\nconst input = $json;\nconst historial = input.historial || [];\nconst pendingMessages = input.pending_messages || [];\nconst capturedData = input.captured_data || {};\nconst intentsVistos = input.intents_vistos || [];\n\n// Normalizar mensajes de landing page\nconst landingPagePattern = /Hola!\\s*Me\\s*interesa\\s*comprar\\s*un\\s*ELIXIR\\s*DEL\\s*SUE[\u00d1N]O?\\.?/gi;\n\nconst claudeMessages = historial.map(msg => ({\n  role: msg.role === 'assistant' ? 'assistant' : 'user',\n  content: msg.role === 'user' \n    ? msg.content.replace(landingPagePattern, 'hola')\n    : msg.content\n}));\n\n// Si hay pending messages, enfocar el an\u00e1lisis en esos\nlet focusMessage = '';\nif (pendingMessages.length > 0) {\n  focusMessage = `\\n\\nMENSAJES PENDIENTES (los m\u00e1s recientes que necesitas analizar):\n${pendingMessages.map((m, i) => `${i+1}. \"${m.content}\"`).join('\\n')}\n\nIMPORTANTE: Analiza PRINCIPALMENTE los mensajes pendientes para detectar el intent actual.`;\n}\n\n// System prompt: Detecta intent considerando pending messages\nconst systemPrompt = \\`Eres un analizador de intents para Somnio (producto: Elixir del Sue\u00f1o).\nTu tarea es SOLO detectar el intent y extraer datos del mensaje. NO generes respuestas.\n\nAnaliza el historial completo, prestando especial atenci\u00f3n a los mensajes pendientes.${focusMessage}\n\nRetorna JSON:\n\n{\n  \"intent\": \"string\",\n  \"extracted_data\": {},\n  \"campos_completos\": false,\n  \"pack_detectado\": null\n}\n\n**Intents permitidos:**\n- hola (saludo inicial)\n- precio (pregunta precio/valor/costo)\n- contenido_envase (cu\u00e1ntas c\u00e1psulas/comprimidos tiene)\n- como_se_toma (modo de uso/dosis/instrucciones)\n- modopago (formas de pago/contraentrega/transferencia)\n- envio (env\u00edo/cobertura/d\u00f3nde llegan)\n- invima (registro sanitario/certificado)\n- ubicacion (sede f\u00edsica/tienda)\n- contraindicaciones (efectos/precauciones)\n- captura_datos_si_compra (quiero comprar/lo quiero/env\u00edamelo/me interesa comprarlo)\n- ofrecer_promos (AUTO: cuando datos completos sin pack)\n- resumen_1x/resumen_2x/resumen_3x (AUTO: cuando cliente elige pack)\n- compra_confirmada (cliente dice s\u00ed/confirmo/dale a confirmaci\u00f3n de orden)\n- no_confirmado (cliente dice no/despu\u00e9s/lo pienso a confirmaci\u00f3n)\n- no_interesa (no me interesa/no lo quiero)\n- fallback (no match con ninguno)\n\n**Intents combinados:**\n- hola+precio, hola+como_se_toma, hola+envio, hola+modopago\n\n**Reglas de extracci\u00f3n de datos:**\nSi el mensaje contiene datos personales, extrae:\n- nombre, apellido, telefono, direccion, barrio, departamento, ciudad, correo\n- campos_completos: true SOLO si TODOS los 8 campos est\u00e1n presentes\n\n**Detecci\u00f3n de pack:**\nSi cliente menciona \"1x\", \"2x\", \"3x\", \"uno\", \"dos\", \"tres\", \"primero\", \"segundo\", \"tercero\":\n- pack_detectado: \"1x\" | \"2x\" | \"3x\"\n\nRetorna SOLO el JSON, sin markdown ni texto adicional.\\`;\n\nreturn {\n  system: systemPrompt,\n  messages: claudeMessages,\n  phone: input.phone,\n  captured_data: capturedData,\n  intents_vistos: intentsVistos,\n  pending_count: pendingMessages.length\n};"
      },
      "id": "prepare-claude",
      "name": "Prepare Claude Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": $json.system,\n  \"messages\": $json.messages\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-claude",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract and process Claude response\nconst claudeResponse = $json;\nconst prevData = $node[\"Prepare Claude Messages\"].json;\nconst intentsVistos = prevData.intents_vistos || [];\n\nconst responseText = claudeResponse.content?.[0]?.text || '{\"intent\":\"fallback\"}';\n\n// Clean markdown backticks\nlet cleanText = responseText.trim();\nif (cleanText.startsWith('```json')) {\n  cleanText = cleanText.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');\n} else if (cleanText.startsWith('```')) {\n  cleanText = cleanText.replace(/^```\\s*/, '').replace(/\\s*```$/, '');\n}\n\n// Parse JSON response\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanText);\n} catch (e) {\n  console.log('Error parsing Claude response:', e);\n  parsed = { intent: 'fallback', extracted_data: {}, campos_completos: false, pack_detectado: null };\n}\n\nlet intent = parsed.intent || 'fallback';\nlet extractedData = parsed.extracted_data || {};\nlet camposCompletos = parsed.campos_completos || false;\nlet packDetectado = parsed.pack_detectado;\nlet capturedData = { ...prevData.captured_data };\n\n// Merge extracted_data into captured_data\nfor (const key in extractedData) {\n  if (extractedData[key] && extractedData[key].toString().trim() !== '') {\n    capturedData[key] = extractedData[key];\n  }\n}\n\n// Check if all fields are complete\nconst requiredFields = ['nombre', 'apellido', 'telefono', 'direccion', 'barrio', 'departamento', 'ciudad', 'correo'];\nconst allFieldsComplete = requiredFields.every(field => {\n  const value = capturedData[field];\n  return value && String(value).trim() !== '';\n});\n\n// Auto-detect: If all data complete but no pack \u2192 ofrecer_promos\nif (allFieldsComplete && !packDetectado && !capturedData.pack) {\n  if (intent === 'fallback' || intent === 'captura_datos_si_compra') {\n    intent = 'ofrecer_promos';\n  }\n  camposCompletos = true;\n}\n\n// Auto-detect pack selection\nif (packDetectado) {\n  intent = `resumen_${packDetectado}`;\n  capturedData.pack = packDetectado;\n  const precios = { '1x': 77900, '2x': 109900, '3x': 139900 };\n  capturedData.precio = precios[packDetectado];\n}\n\n// Determine new_mode\nlet newMode = prevData.current_mode;\n\n// Activate collecting_data when user shows purchase intent\nif (intent === 'captura_datos_si_compra' || intent.startsWith('resumen_')) {\n  newMode = 'collecting_data';\n}\n\n// Deactivate collecting_data after order is confirmed\nif (intent === 'compra_confirmada' && allFieldsComplete && capturedData.pack) {\n  newMode = null; // Order will be created, no need for more data\n}\n\n// If user loses interest, deactivate\nif (intent === 'no_interesa' || intent === 'no_confirmado') {\n  newMode = null;\n}\n\nconsole.log('\ud83d\udcca STATE ANALYZER OUTPUT:');\nconsole.log('Intent:', intent);\nconsole.log('New Mode:', newMode);\nconsole.log('Pack Detected:', packDetectado);\nconsole.log('Campos Completos:', camposCompletos);\n\n// Actualizar intents_vistos\nif (intent && intent !== 'fallback' && !intentsVistos.includes(intent)) {\n  intentsVistos.push(intent);\n  capturedData._intents_vistos = intentsVistos;\n  console.log('\u2705 Intent agregado a intents_vistos:', intent);\n}\n\nreturn {\n  phone: prevData.phone,\n  intent,\n  new_mode: newMode,\n  extracted_data: extractedData,\n  captured_data: capturedData,\n  campos_completos: camposCompletos,\n  pack_detectado: packDetectado,\n  all_fields_complete: allFieldsComplete\n};"
      },
      "id": "extract-response",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Prepare Claude Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Messages": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "1"
}