workflows/proactive-timer-instance.json
{
  "name": "Proactive Timer Instance",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "proactive-timer-instance",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "proactive-timer-instance"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, phone, mode, state, last_activity FROM sessions_v3 WHERE phone = '{{ $json.body.phone || $json.phone }}'",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Query Session Initial",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [220, 300],
      "credentials": {
        "postgres": {
          "id": "RLI7fn3fTdDTnEPF",
          "name": "Postgres Historial v3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $json;\nconst state = typeof session.state === 'string' ? JSON.parse(session.state) : (session.state || {});\n\nconst isTimerActive = state._proactive_timer_active === true;\n\nconsole.log('PROACTIVE TIMER CHECK:', { phone: session.phone, isTimerActive });\n\nreturn {\n  phone: session.phone,\n  session_id: session.session_id,\n  is_timer_active: isTimerActive,\n  state: state,\n  mode: session.mode\n};"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Check If Timer Active",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_timer_active }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "IF Timer Already Active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [660, 300]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "End - Already Active",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sessions_v3 SET state = COALESCE(state, '{}'::jsonb) || jsonb_build_object('_proactive_timer_active', true, '_proactive_started_at', NOW()::text) WHERE phone = '{{ $json.phone }}' RETURNING *",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Mark Timer Active",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [880, 400],
      "credentials": {
        "postgres": {
          "id": "RLI7fn3fTdDTnEPF",
          "name": "Postgres Historial v3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $json;\nreturn {\n  phone: session.phone,\n  session_id: session.session_id,\n  iteration: 0,\n  max_iterations: 20\n};"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Initialize Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Wait 2 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, phone, mode, state, last_activity FROM sessions_v3 WHERE phone = '{{ $json.phone }}'",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Query Session State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1540, 400],
      "credentials": {
        "postgres": {
          "id": "RLI7fn3fTdDTnEPF",
          "name": "Postgres Historial v3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $json;\nlet prevIteration = 0;\ntry { prevIteration = $node['Initialize Loop'].json.iteration || 0; } catch(e) {}\ntry { prevIteration = $node['Continue Loop'].json.iteration || prevIteration; } catch(e) {}\n\nconst state = typeof session.state === 'string' ? JSON.parse(session.state) : (session.state || {});\nconst mode = session.mode;\nconst now = new Date();\n\nconst proactiveStartedAt = state._proactive_started_at ? new Date(state._proactive_started_at) : now;\nconst firstDataAt = state._first_data_at ? new Date(state._first_data_at) : null;\nconst minDataAt = state._min_data_at ? new Date(state._min_data_at) : null;\nconst ofrecerPromosAt = state._ofrecer_promos_at ? new Date(state._ofrecer_promos_at) : null;\n\nconst minSinceStart = (now - proactiveStartedAt) / 60000;\nconst minSinceFirstData = firstDataAt ? (now - firstDataAt) / 60000 : 0;\nconst minSinceMinData = minDataAt ? (now - minDataAt) / 60000 : 0;\nconst minSinceOfrecerPromos = ofrecerPromosAt ? (now - ofrecerPromosAt) / 60000 : 0;\n\nconst minFields = ['nombre', 'apellido', 'telefono', 'direccion', 'ciudad'];\nconst allFields = [...minFields, 'barrio', 'departamento', 'correo'];\nconst presentMinFields = minFields.filter(f => state[f] && String(state[f]).trim() !== '');\nconst hasAnyData = presentMinFields.length > 0;\nconst hasMinData = presentMinFields.length >= 5;\nconst missingFields = allFields.filter(f => !state[f] || String(state[f]).trim() === '');\n\nconst noDataSent = state._action_no_data_sent || false;\nconst missingDataSent = state._action_missing_data_sent || false;\nconst ofrecerPromosDone = state._action_ofrecer_promos_done || false;\nconst orderCreated = state.order_created || false;\nconst lastIntent = state._last_intent || '';\nconst isOfrecerPromos = lastIntent === 'ofrecer_promos' || lastIntent.includes('resumen_');\n\nconst lastActivity = new Date(session.last_activity);\nconst minSinceActivity = (now - lastActivity) / 60000;\nconst clientResponded = minSinceActivity < 2;\n\nlet action = 'none';\nlet updates = {};\n\nif (clientResponded) {\n  action = 'wait';\n} else if (isOfrecerPromos && !orderCreated) {\n  if (!ofrecerPromosAt) {\n    updates._ofrecer_promos_at = now.toISOString();\n    action = 'mark_time';\n  } else if (minSinceOfrecerPromos >= 10) {\n    action = 'create_order';\n    updates.order_created = true;\n  }\n} else if (hasMinData && !ofrecerPromosDone && !isOfrecerPromos) {\n  if (!minDataAt) {\n    updates._min_data_at = now.toISOString();\n    action = 'mark_time';\n  } else if (minSinceMinData >= 2) {\n    action = 'ofrecer_promos';\n    updates._action_ofrecer_promos_done = true;\n  }\n} else if (hasAnyData && !hasMinData && !missingDataSent) {\n  if (!firstDataAt) {\n    updates._first_data_at = now.toISOString();\n    action = 'mark_time';\n  } else if (minSinceFirstData >= 6) {\n    action = 'request_missing_data';\n    updates._action_missing_data_sent = true;\n  }\n} else if (!hasAnyData && !noDataSent && minSinceStart >= 10) {\n  action = 'reminder_no_data';\n  updates._action_no_data_sent = true;\n}\n\nconst iteration = prevIteration + 1;\nconst shouldContinue = !orderCreated && mode !== 'completed' && mode !== 'human_takeover' && iteration < 20 && minSinceStart < 30;\n\nconsole.log('ACTION:', action, '| Continue:', shouldContinue, '| Iter:', iteration);\n\nreturn {\n  phone: session.phone,\n  session_id: session.session_id,\n  action: action,\n  updates: updates,\n  should_continue: shouldContinue,\n  iteration: iteration,\n  state: state,\n  missing_fields: missingFields\n};"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Analyze State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "reminder_no_data"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "IF Reminder No Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1980, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.callbell.eu/v1/messages/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"to\": $json.phone, \"from\": \"whatsapp\", \"type\": \"text\", \"content\": { \"text\": \"Quedamos pendientes a tus datos, o si tienes alguna pregunta acerca del producto no dudes en hacerla\" } } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Send Reminder No Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o7MjFlWPCOrkcPYR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "request_missing_data"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000013",
      "name": "IF Request Missing Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2200, 500]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst missingFields = data.missing_fields || [];\nconst fieldNames = { 'nombre': 'nombre', 'apellido': 'apellido', 'telefono': 'telefono', 'direccion': 'direccion completa', 'barrio': 'barrio', 'ciudad': 'ciudad o municipio', 'departamento': 'departamento', 'correo': 'correo electronico' };\nlet message = 'Hola! Para completar tu pedido, solo nos falta:\\n\\n';\nmissingFields.forEach((field, i) => { message += (i + 1) + '. ' + (fieldNames[field] || field) + '\\n'; });\nmessage += '\\nEnvianos estos datos para continuar';\nreturn { phone: data.phone, message: message, updates: data.updates, should_continue: data.should_continue, iteration: data.iteration, state: data.state };"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000014",
      "name": "Prepare Missing Data Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.callbell.eu/v1/messages/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"to\": $json.phone, \"from\": \"whatsapp\", \"type\": \"text\", \"content\": { \"text\": $json.message } } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000015",
      "name": "Send Request Missing Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o7MjFlWPCOrkcPYR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "ofrecer_promos"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000016",
      "name": "IF Ofrecer Promos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2420, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/carolina",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"phone\": $json.phone, \"intent\": \"ofrecer_promos\", \"source\": \"proactive_timer\" } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000017",
      "name": "Call Carolina - Ofrecer Promos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "create_order"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000018",
      "name": "IF Create Order",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2640, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/order-manager",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"phone\": $json.phone, \"captured_data\": $json.state, \"promo_override\": \"WPP\", \"source\": \"proactive_timer\" } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000019",
      "name": "Call Order Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sessions_v3 SET state = state || '{{ JSON.stringify($json.updates) }}'::jsonb WHERE phone = '{{ $json.phone }}'",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000020",
      "name": "Update Timestamps",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [3080, 400],
      "credentials": {
        "postgres": {
          "id": "RLI7fn3fTdDTnEPF",
          "name": "Postgres Historial v3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_continue }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000021",
      "name": "IF Should Continue",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3300, 400]
    },
    {
      "parameters": {
        "jsCode": "return { phone: $json.phone, session_id: $json.session_id, iteration: $json.iteration || 0 };"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000022",
      "name": "Continue Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sessions_v3 SET state = state || '{\"_proactive_timer_active\": false}'::jsonb WHERE phone = '{{ $json.phone }}'",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000023",
      "name": "Mark Timer Inactive",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [3520, 500],
      "credentials": {
        "postgres": {
          "id": "RLI7fn3fTdDTnEPF",
          "name": "Postgres Historial v3"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000024",
      "name": "End - Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3740, 500]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Query Session Initial", "type": "main", "index": 0 }]] },
    "Query Session Initial": { "main": [[{ "node": "Check If Timer Active", "type": "main", "index": 0 }]] },
    "Check If Timer Active": { "main": [[{ "node": "IF Timer Already Active", "type": "main", "index": 0 }]] },
    "IF Timer Already Active": { "main": [[{ "node": "End - Already Active", "type": "main", "index": 0 }], [{ "node": "Mark Timer Active", "type": "main", "index": 0 }]] },
    "Mark Timer Active": { "main": [[{ "node": "Initialize Loop", "type": "main", "index": 0 }]] },
    "Initialize Loop": { "main": [[{ "node": "Wait 2 Minutes", "type": "main", "index": 0 }]] },
    "Wait 2 Minutes": { "main": [[{ "node": "Query Session State", "type": "main", "index": 0 }]] },
    "Query Session State": { "main": [[{ "node": "Analyze State", "type": "main", "index": 0 }]] },
    "Analyze State": { "main": [[{ "node": "IF Reminder No Data", "type": "main", "index": 0 }]] },
    "IF Reminder No Data": { "main": [[{ "node": "Send Reminder No Data", "type": "main", "index": 0 }], [{ "node": "IF Request Missing Data", "type": "main", "index": 0 }]] },
    "Send Reminder No Data": { "main": [[{ "node": "Update Timestamps", "type": "main", "index": 0 }]] },
    "IF Request Missing Data": { "main": [[{ "node": "Prepare Missing Data Message", "type": "main", "index": 0 }], [{ "node": "IF Ofrecer Promos", "type": "main", "index": 0 }]] },
    "Prepare Missing Data Message": { "main": [[{ "node": "Send Request Missing Data", "type": "main", "index": 0 }]] },
    "Send Request Missing Data": { "main": [[{ "node": "Update Timestamps", "type": "main", "index": 0 }]] },
    "IF Ofrecer Promos": { "main": [[{ "node": "Call Carolina - Ofrecer Promos", "type": "main", "index": 0 }], [{ "node": "IF Create Order", "type": "main", "index": 0 }]] },
    "Call Carolina - Ofrecer Promos": { "main": [[{ "node": "Update Timestamps", "type": "main", "index": 0 }]] },
    "IF Create Order": { "main": [[{ "node": "Call Order Manager", "type": "main", "index": 0 }], [{ "node": "Update Timestamps", "type": "main", "index": 0 }]] },
    "Call Order Manager": { "main": [[{ "node": "Update Timestamps", "type": "main", "index": 0 }]] },
    "Update Timestamps": { "main": [[{ "node": "IF Should Continue", "type": "main", "index": 0 }]] },
    "IF Should Continue": { "main": [[{ "node": "Continue Loop", "type": "main", "index": 0 }], [{ "node": "Mark Timer Inactive", "type": "main", "index": 0 }]] },
    "Continue Loop": { "main": [[{ "node": "Wait 2 Minutes", "type": "main", "index": 0 }]] },
    "Mark Timer Inactive": { "main": [[{ "node": "End - Complete", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
