workflows/Robots Logistica.json
{
  "name": "Robots Logistica",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-slack-trigger",
              "leftValue": "={{ $json.text.toLowerCase() }}",
              "rightValue": "subir ordenes coord",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13ec9e95-17f3-4a86-92c1-173959778c30",
      "name": "Filtrar Mensaje",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -928,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://www.zohoapis.com/bigin/v1/Deals/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Zoho-oauthtoken {{ $json.access_token }}"
            },
            {
              "name": "criteria",
              "value": "(Stage:equals:ROBOT COORD)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Zoho-oauthtoken {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3778d146-01ca-4587-a1af-5f377161f3a1",
      "name": "Bigin: Obtener Órdenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-orders-exist",
              "leftValue": "={{ $json.data?.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66c07e70-aa60-43ae-aa3d-9f18c67e0836",
      "name": "¿Hay Órdenes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "⚠️ No hay órdenes en el stage *ROBOT COORD*",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "5f025f20-ec88-4657-94ab-c986599992ea",
      "name": "Slack: Sin Órdenes",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        0,
        224
      ],
      "webhookId": "28c9c4be-e965-481e-be56-a4bed650dd4d",
      "credentials": {
        "slackApi": {
          "id": "Y6LxxE3sffV7XYLy",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0A9M96C0AK",
          "mode": "id"
        },
        "options": {}
      },
      "id": "27d96e08-80a4-4ed4-978e-37739e6a320c",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        112
      ],
      "webhookId": "coordinadora-bot-trigger",
      "credentials": {
        "slackApi": {
          "id": "Y6LxxE3sffV7XYLy",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Procesa órdenes de Bigin para Coordinadora. Devuelve SOLO un JSON array.\\n\\nMAPEO DEPARTAMENTOS→ABREVIATURAS:\\nAmazonas=AMAZ, Antioquia=ANT, Arauca=ARAU, Atlántico=ATL, Bolívar=BOL, Boyacá=BOY, Caldas=CDAS, Caquetá=CAQ, Casanare=C/NARE, Cauca=CAU, Cesar=CES, Chocó=CHOCO, Córdoba=CORD, Cundinamarca=C/MARCA, Guainía=GUAI, Guaviare=G/VIARE, Guajira=GUAJ, Huila=HLA, Magdalena=MG/LENA, Meta=META, Nariño=NAR, Norte de Santander=N/STDER, Putumayo=P/MAYO, Quindío=QDIO, Risaralda=RS, San Andrés=S/ANDRES, Santander=STDER, Sucre=SUCRE, Tolima=TOL, Valle del Cauca=VALLE, Valle=VALLE, Vaupés=V/PES, Vichada=VICH\\n\\nREGLAS EXACTAS:\\n\\n1. identificacion: Usar campo Telefono. Quitar '57' del inicio si existe. Quitar espacios, guiones, paréntesis, '+'. Resultado DEBE tener 10 dígitos exactos.\\n   Ej: '+ 57 316 3709528' → '3163709528'\\n   Ej: '573163709528' → '3163709528'\\n\\n2. nombres: Primera palabra del campo Deal_Name.\\n   Ej: 'Juan Perez Garcia' → 'Juan'\\n\\n3. apellidos: Resto de palabras del Deal_Name. Si solo hay una palabra, usar 'Cliente'.\\n   Ej: 'Juan Perez Garcia' → 'Perez Garcia'\\n   Ej: 'Maria' → 'Cliente'\\n\\n4. direccion: Campo Direcci_n exactamente como está.\\n\\n5. ciudad: CRÍTICO - Formato exacto: 'MUNICIPIO (ABREV)'\\n   - Tomar Municipio_Dept, convertir a MAYÚSCULAS\\n   - Buscar Departamento en el mapeo y usar su abreviatura\\n   - Ej: Municipio_Dept='bucaramanga', Departamento='santander' → 'BUCARAMANGA (STDER)'\\n   - Ej: Municipio_Dept='Bogota', Departamento='Cundinamarca' → 'BOGOTA (C/MARCA)'\\n   - Ej: Municipio_Dept='Envigado', Departamento='Antioquia' → 'ENVIGADO (ANT)'\\n\\n6. departamento: Campo Departamento original (para referencia).\\n\\n7. celular: Igual que identificacion - 10 dígitos sin 57, sin espacios.\\n\\n8. email: Campo email si existe, sino null.\\n\\n9. referencia: SIEMPRE 'AA1'\\n\\n10. unidades:\\n    - Si Amount = 77900 → 1\\n    - Si Amount = 109900 → 2\\n    - Si Amount = 139900 → 3\\n    - Si es OTRO valor → buscar en Description el patrón '(X unidad)' o '(X unidades)' y extraer X\\n\\n11. totalIva: SIEMPRE 0\\n\\n12. totalConIva: Valor exacto del campo Amount (77900, 109900, 139900, u otro)\\n\\n13. valorDeclarado: SIEMPRE 55000 (sin importar el valor real)\\n\\n14. esRecaudoContraentrega: MUY IMPORTANTE\\n    - false si Deal_Name contiene '&' (significa que ya pagó)\\n    - false si Tag contiene 'PAGO ANTICIPADO'\\n    - true en CUALQUIER otro caso (se debe cobrar)\\n\\n15. peso: SIEMPRE 0.08\\n\\n16. alto: SIEMPRE 5\\n\\n17. largo: SIEMPRE 5\\n\\n18. ancho: SIEMPRE 10\\n\\n19. biginOrderId: Campo 'id' de la orden\\n\\n20. biginOrderName: Campo 'Deal_Name'\\n\\nFormato salida (JSON array):\\n[{\\\"identificacion\\\":\\\"3163709528\\\",\\\"nombres\\\":\\\"Juan\\\",\\\"apellidos\\\":\\\"Perez\\\",\\\"direccion\\\":\\\"Calle 123\\\",\\\"ciudad\\\":\\\"BUCARAMANGA (STDER)\\\",\\\"departamento\\\":\\\"Santander\\\",\\\"celular\\\":\\\"3163709528\\\",\\\"email\\\":null,\\\"referencia\\\":\\\"AA1\\\",\\\"unidades\\\":1,\\\"totalIva\\\":0,\\\"totalConIva\\\":77900,\\\"valorDeclarado\\\":55000,\\\"esRecaudoContraentrega\\\":true,\\\"peso\\\":0.08,\\\"alto\\\":5,\\\"largo\\\":5,\\\"ancho\\\":10,\\\"biginOrderId\\\":\\\"123\\\",\\\"biginOrderName\\\":\\\"Juan Perez\\\"}]\\n\\nÓrdenes a procesar:\\n\" + JSON.stringify($json.data)\n    }\n  ]\n}\n}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c8d6151a-dc55-4969-b946-84195a1cfc65",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a60NiYpV50szsxWN",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://accounts.zoho.com/oauth/v2/token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "refresh_token",
              "value": "1000.ffacc81e6474de4c1e55afbedad4f8ef.10de44fb974487be41421eb8a292754d"
            },
            {
              "name": "client_id",
              "value": "1000.1O753Z59ILMC38F7RO0639XVTQGNAL"
            },
            {
              "name": "client_secret",
              "value": "0d3d0df40e7c665812a6379e660791c1ad47f75696"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "id": "54a28bbd-64a4-43ae-a10f-8533dbc9a3b7",
      "name": "🔄 Refresh Bigin Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "  // Validar ciudades con el servidor                                                                                                                                                                                                            \n  const pedidos = $input.all().map(item => item.json);                                                                                                                                                                                           \n                                                                                                                                                                                                                                                 \n  const response = await this.helpers.httpRequest({                                                                                                                                                                                              \n    method: 'POST',                                                                                                                                                                                                                              \n    url: 'http://172.18.0.1:3001/api/validar-pedidos',                                                                                                                                                                                           \n    body: { pedidos },                                                                                                                                                                                                                           \n    json: true                                                                                                                                                                                                                                   \n  });                                                                                                                                                                                                                                            \n                                                                                                                                                                                                                                                 \n  // Retornar pedidos con info de validación                                                                                                                                                                                                     \n  return response.pedidos.map(pedido => {                                                                                                                                                                                                        \n    const { _index, ...datos } = pedido;                                                                                                                                                                                                         \n    return { json: datos };                                                                                                                                                                                                                      \n  });"
      },
      "id": "5359d242-4df3-40cb-96d3-54c62c4c92f4",
      "name": "Validar Ciudades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-valido",
              "leftValue": "={{ $json._valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e7c68eb-7458-48a6-bf0c-478000a5a863",
      "name": "¿Ciudad Válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3001/api/crear-pedido",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "469d0334-05bb-4d97-a61f-6cc3fe587a40",
      "name": "Robot: Crear Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta de Claude\nconst response = $input.first().json;\nlet pedidos = [];\n\ntry {\n  const content = response.content?.[0]?.text || response.message?.content || response.content || response.text;\n  const jsonMatch = content.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n  if (jsonMatch) {\n    pedidos = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  console.error('Error parseando respuesta:', e);\n}\n\nreturn pedidos.map(p => ({ json: p }));"
      },
      "id": "2e4dc7eb-8616-4f04-84f9-6c3653def2fa",
      "name": "Parsear Respuesta Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A9M96C0AK",
          "mode": "id"
        },
        "text": "={{ $('Combinar Mensajes').first().json.mensaje }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "4cd9f87e-f6b0-4407-9c95-b41a99807285",
      "name": "Slack: Enviar Resultado",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1840,
        0
      ],
      "webhookId": "cf16b2d0-7f1b-47e2-bfd9-9bbfeb1d5e13",
      "credentials": {
        "slackApi": {
          "id": "Y6LxxE3sffV7XYLy",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8dc1065e-28ee-4b46-b999-ea119e99dda9",
      "name": "Unir Resultados1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1488,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combinar todos los mensajes\nconst items = $input.all();\nlet mensajeFinal = '';\n\nfor (const item of items) {\n  if (item.json.mensaje) {\n    mensajeFinal += item.json.mensaje + '\\n';\n  }\n}\n\nmensajeFinal = mensajeFinal.trim() || '⚠️ No se procesaron pedidos';\n\nreturn [{ json: { mensaje: mensajeFinal } }];"
      },
      "id": "8c8516f0-771b-43b6-952b-f4d551fb2cf2",
      "name": "Combinar Mensajes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generar mensaje de error con datos completos\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { mensaje: '', cantidad: 0 } }];\n}\n\nconst errores = items.map(item => {\n  const p = item.json;\n  return `• *${p.nombres} ${p.apellidos}*\n   📍 ${p.direccion}\n   🏙️ ${p.ciudad}\n   📱 ${p.celular}\n   💰 $${p.totalConIva?.toLocaleString() || 'N/A'}\n   ❌ ${p._error}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    mensaje: `❌ *Pedidos rechazados:*\\n\\n${errores}`,\n    cantidad: items.length\n  }\n}];"
      },
      "id": "50b0e56f-f80e-4ca2-9387-f2e650175fc2",
      "name": "Error: Ciudad Inválida1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Recopilar resultados del robot con datos completos\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { mensaje: '', exitosos: 0, fallidos: 0 } }];\n}\n\nconst exitosos = items.filter(i => i.json.success);\nconst fallidos = items.filter(i => !i.json.success);\n\nlet mensaje = '';\n\nif (exitosos.length > 0) {\n  const detalles = exitosos.map(i => {\n    const p = i.json;\n    return `• *#${p.numeroPedido}* - ${p.nombres} ${p.apellidos}\n   📍 ${p.direccion}\n   🏙️ ${p.ciudad}\n   📱 ${p.celular}\n   💰 $${p.totalConIva?.toLocaleString() || 'N/A'}`;\n  }).join('\\n\\n');\n  mensaje += `✅ *${exitosos.length} pedido(s) creado(s):*\\n\\n${detalles}`;\n}\n\nif (fallidos.length > 0) {\n  const errores = fallidos.map(i => {\n    const p = i.json;\n    return `• *${p.nombres || p.biginOrderName} ${p.apellidos || ''}*\n   📱 ${p.celular || 'N/A'}\n   ❌ ${p.error}`;\n  }).join('\\n\\n');\n  mensaje += `\\n\\n❌ *${fallidos.length} error(es) del robot:*\\n\\n${errores}`;\n}\n\nreturn [{ json: { mensaje, exitosos: exitosos.length, fallidos: fallidos.length } }];"
      },
      "id": "8aa2882c-f144-447c-bf65-ed9406ba9839",
      "name": "Generar Resumen2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Recopilar resultados del robot con datos del pedido original\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { mensaje: '', exitosos: 0, fallidos: 0 } }];\n}\n\n// Obtener datos originales del nodo anterior (¿Ciudad Válida?)\nconst datosOriginales = $('¿Ciudad Válida?').all();\n\nconst exitosos = [];\nconst fallidos = [];\n\nitems.forEach((item, index) => {\n  const robot = item.json;\n  // Buscar datos originales por biginOrderId o por índice\n  const original = datosOriginales.find(d => d.json.biginOrderId === robot.biginOrderId)?.json || datosOriginales[index]?.json || {};\n  \n  if (robot.success) {\n    exitosos.push({ ...original, ...robot });\n  } else {\n    fallidos.push({ ...original, ...robot });\n  }\n});\n\nlet mensaje = '';\n\nif (exitosos.length > 0) {\n  const detalles = exitosos.map(p => {\n    return `• *#${p.numeroPedido}* - ${p.nombres || 'N/A'} ${p.apellidos || ''}\n   📍 ${p.direccion || 'N/A'}\n   🏙️ ${p.ciudad || 'N/A'}\n   📱 ${p.celular || 'N/A'}\n   💰 $${p.totalConIva?.toLocaleString() || 'N/A'}`;\n  }).join('\\n\\n');\n  mensaje += `✅ *${exitosos.length} pedido(s) creado(s):*\\n\\n${detalles}`;\n}\n\nif (fallidos.length > 0) {\n  const errores = fallidos.map(p => {\n    return `• *${p.nombres || p.biginOrderName || 'N/A'} ${p.apellidos || ''}*\n   📱 ${p.celular || 'N/A'}\n   ❌ ${p.error || 'Error desconocido'}`;\n  }).join('\\n\\n');\n  mensaje += `\\n\\n❌ *${fallidos.length} error(es) del robot:*\\n\\n${errores}`;\n}\n\nreturn [{ json: { mensaje, exitosos: exitosos.length, fallidos: fallidos.length } }];"
      },
      "id": "b21a0b05-4e07-4d03-b6ac-3264a60f31a7",
      "name": "Generar Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filtrar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensaje": {
      "main": [
        [
          {
            "node": "🔄 Refresh Bigin Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bigin: Obtener Órdenes": {
      "main": [
        [
          {
            "node": "¿Hay Órdenes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Órdenes?": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Sin Órdenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parsear Respuesta Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Refresh Bigin Token": {
      "main": [
        [
          {
            "node": "Bigin: Obtener Órdenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Ciudades": {
      "main": [
        [
          {
            "node": "¿Ciudad Válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ciudad Válida?": {
      "main": [
        [
          {
            "node": "Robot: Crear Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Ciudad Inválida1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Robot: Crear Pedido": {
      "main": [
        [
          {
            "node": "Generar Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta Claude": {
      "main": [
        [
          {
            "node": "Validar Ciudades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Resultados1": {
      "main": [
        [
          {
            "node": "Combinar Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Mensajes": {
      "main": [
        [
          {
            "node": "Slack: Enviar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Ciudad Inválida1": {
      "main": [
        [
          {
            "node": "Unir Resultados1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generar Resumen2": {
      "main": [
        []
      ]
    },
    "Generar Resumen": {
      "main": [
        [
          {
            "node": "Unir Resultados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ac520e86-0a2a-4002-94e8-32e9012645b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4df0d5bdc3c11c3032ef84d3eeea517f836272ccd7fbc040b607c1bfca545db1"
  },
  "id": "eaG7RWwFFu1tbbEC",
  "tags": [
    {
      "updatedAt": "2026-01-21T14:27:53.966Z",
      "createdAt": "2026-01-21T14:27:53.966Z",
      "id": "dbQzGZBtov4cN2dY",
      "name": "Logística"
    }
  ]
}