workflows/State Analyzer.json
{
  "name": "State Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "state-analyzer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9a776b56-ca68-40be-8547-d69cf9773d3c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -368,
        -160
      ],
      "webhookId": "state-analyzer"
    },
    {
      "parameters": {
        "jsCode": "// Parse input from Historial\nconst input = $json.body || $json;\n\nconst phone = input.phone || '';\nconst historial = input.historial || [];\nconst pendingMessages = input.pending_messages || [];\nconst capturedData = input.captured_data || {};\nconst intentsVistos = input.intents_vistos || [];\n\nconsole.log('📊 STATE ANALYZER INPUT:');\nconsole.log('Phone:', phone);\nconsole.log('Historial messages:', historial.length);\nconsole.log('Pending messages:', pendingMessages.length);\nconsole.log('Intents vistos:', intentsVistos);\n\nreturn {\n  phone,\n  historial,\n  pending_messages: pendingMessages,\n  captured_data: capturedData,\n  intents_vistos: intentsVistos\n};"
      },
      "id": "a30d21cc-c93c-4a22-acf1-86dfc5f78728",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "  // Prepare messages for Claude API                                                                                                                                                                                                          \n  const input = $json;                                                                                                                                                                                                                        \n  const historial = input.historial || [];                                                                                                                                                                                                    \n  const pendingMessages = input.pending_messages || [];                                                                                                                                                                                       \n  const capturedData = input.captured_data || {};                                                                                                                                                                                             \n  const intentsVistos = input.intents_vistos || [];                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // Normalizar mensajes de landing page                                                                                                                                                                                                      \n  const landingPagePattern = /ho?la!?\\s*me\\s*inte?re?sa\\s*comprar\\s*u?n?\\s*(elixir|elxir|elixi|elixr)?\\s*(del|d)?\\s*sue[ñn]?o?\\.?/gi;                                                                                                         \n                                                                                                                                                                                                                                              \n  const claudeMessages = historial.map(msg => ({                                                                                                                                                                                              \n    role: msg.role === 'assistant' ? 'assistant' : 'user',                                                                                                                                                                                    \n    content: msg.role === 'user'                                                                                                                                                                                                              \n      ? msg.content.replace(landingPagePattern, 'hola ')                                                                                                                                                                                      \n      : msg.content                                                                                                                                                                                                                           \n  }));                                                                                                                                                                                                                                        \n                                                                                                                                                                                                                                              \n  // Si hay pending messages, enfocar el análisis en esos                                                                                                                                                                                     \n  let focusMessage = '';                                                                                                                                                                                                                      \n  if (pendingMessages.length > 0) {                                                                                                                                                                                                           \n    const pendingList = pendingMessages.map((m, i) => (i+1) + '. \"' + m.content + '\"').join('\\n');                                                                                                                                            \n    focusMessage = '\\n\\nMENSAJES PENDIENTES (los mas recientes que necesitas analizar):\\n' +                                                                                                                                                  \n      pendingList +                                                                                                                                                                                                                           \n      '\\n\\nIMPORTANTE: Analiza PRINCIPALMENTE los mensajes pendientes para detectar el intent actual.';                                                                                                                                       \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // Detectar último mensaje del asistente para contexto                                                                                                                                                                                      \n  let lastAssistantMessage = '';                                                                                                                                                                                                              \n  for (let i = historial.length - 1; i >= 0; i--) {                                                                                                                                                                                           \n    if (historial[i].role === 'assistant') {                                                                                                                                                                                                  \n      lastAssistantMessage = historial[i].content.toLowerCase();                                                                                                                                                                              \n      break;                                                                                                                                                                                                                                  \n    }                                                                                                                                                                                                                                         \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // Determinar contexto para \"si/ok/dale\"                                                                                                                                                                                                    \n  let contextoSi = '';                                                                                                                                                                                                                        \n  if (lastAssistantMessage.includes('confirmar tu compra')) {                                                                                                                                                                                 \n    contextoSi = '\\n\\n**CONTEXTO CRITICO:** El bot pregunto \"confirmar tu compra\". Si el usuario dice \"si/ok/dale\" → intent: compra_confirmada';                                                                                              \n  } else if (lastAssistantMessage.includes('deseas adquirir') || lastAssistantMessage.includes('te gustaria adquirir')) {                                                                                                                     \n    contextoSi = '\\n\\n**CONTEXTO CRITICO:** El bot pregunto \"deseas adquirir\". Si el usuario dice \"si/ok/dale\" → intent: captura_datos_si_compra';                                                                                            \n  } else if (lastAssistantMessage.includes('cual eliges') || lastAssistantMessage.includes('cual deseas')) {                                                                                                                                  \n    contextoSi = '\\n\\n**CONTEXTO CRITICO:** El bot pregunto \"cual eliges/deseas\". Si el usuario dice \"1x/2x/3x/uno/dos/tres\" → detectar pack';                                                                                                \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // System prompt con contexto                                                                                                                                                                                                               \n  const systemPrompt = 'Eres un analizador de intents para Somnio (producto: Elixir del Sueno).\\n' +                                                                                                                                          \n    'Tu tarea es SOLO detectar el intent y extraer datos del mensaje. NO generes respuestas.\\n\\n' +                                                                                                                                           \n    'Analiza el historial completo, prestando especial atencion a los mensajes pendientes.' + focusMessage + contextoSi + '\\n\\n' +                                                                                                            \n    'Retorna JSON:\\n\\n' +                                                                                                                                                                                                                     \n    '{\\n' +                                                                                                                                                                                                                                   \n    '  \"intent\": \"string\",\\n' +                                                                                                                                                                                                               \n    '  \"extracted_data\": {},\\n' +                                                                                                                                                                                                             \n    '  \"campos_completos\": false,\\n' +                                                                                                                                                                                                        \n    '  \"pack_detectado\": null\\n' +                                                                                                                                                                                                            \n    '}\\n\\n' +                                                                                                                                                                                                                                 \n    '**Intents permitidos:**\\n' +                                                                                                                                                                                                             \n    '- hola (saludo inicial)\\n' +                                                                                                                                                                                                             \n    '- precio (pregunta precio/valor/costo)\\n' +                                                                                                                                                                                              \n    '- info_promociones (que promociones tienen/paquetes/ofertas/descuentos)\\n' +                                                                                                                                                             \n    '- contenido_envase (cuantas capsulas/comprimidos tiene)\\n' +                                                                                                                                                                             \n    '- como_se_toma (modo de uso/dosis/instrucciones)\\n' +                                                                                                                                                                                    \n    '- modopago (formas de pago/contraentrega/transferencia)\\n' +                                                                                                                                                                             \n    '- envio (envio/cobertura/donde llegan)\\n' +                                                                                                                                                                                              \n    '- invima (registro sanitario/certificado)\\n' +                                                                                                                                                                                           \n    '- ubicacion (sede fisica/tienda)\\n' +                                                                                                                                                                                                    \n    '- contraindicaciones (efectos/precauciones)\\n' +                                                                                                                                                                                         \n    '- captura_datos_si_compra (quiero comprar/lo quiero/enviamelo/me interesa comprarlo/dice SI despues de pregunta \"deseas adquirir\")\\n' +                                                                                                  \n    '- ofrecer_promos (AUTO: cuando datos completos sin pack)\\n' +                                                                                                                                                                            \n    '- resumen_1x/resumen_2x/resumen_3x (AUTO: cuando cliente elige pack)\\n' +                                                                                                                                                                \n    '- compra_confirmada (dice SI despues de pregunta \"confirmar tu compra\" SOLAMENTE)\\n' +                                                                                                                                                   \n    '- no_confirmado (cliente dice no/despues/lo pienso a confirmacion)\\n' +                                                                                                                                                                  \n    '- no_interesa (no me interesa/no lo quiero)\\n' +                                                                                                                                                                                         \n    '- fallback (no match con ninguno)\\n\\n' +                                                                                                                                                                                                 \n    '**Intents combinados:**\\n' +                                                                                                                                                                                                             \n    '- hola+precio, hola+como_se_toma, hola+envio, hola+modopago\\n' +                                                                                                                                                                         \n    '- hola+captura_datos_si_compra (cuando el usuario saluda y dice que quiere comprar en el mismo mensaje)\\n\\n' +                                                                                                                           \n    '**Reglas de extraccion de datos:**\\n' +                                                                                                                                                                                                  \n    'Si el mensaje contiene datos personales, extrae:\\n' +                                                                                                                                                                                    \n    '- nombre, apellido, telefono, direccion, barrio, departamento, ciudad, correo\\n' +                                                                                                                                                       \n    '- campos_completos: true SOLO si TODOS los 8 campos estan presentes\\n\\n' +                                                                                                                                                               \n    '**Deteccion de pack:**\\n' +                                                                                                                                                                                                              \n    'Si cliente menciona \"1x\", \"2x\", \"3x\", \"uno\", \"dos\", \"tres\", \"primero\", \"segundo\", \"tercero\":\\n' +                                                                                                                                        \n    '- pack_detectado: \"1x\" | \"2x\" | \"3x\"\\n\\n' +                                                                                                                                                                                              \n    'Retorna SOLO el JSON, sin markdown ni texto adicional.';                                                                                                                                                                                 \n                                                                                                                                                                                                                                              \n  return {                                                                                                                                                                                                                                    \n    system: systemPrompt,                                                                                                                                                                                                                     \n    messages: claudeMessages,                                                                                                                                                                                                                 \n    phone: input.phone,                                                                                                                                                                                                                       \n    captured_data: capturedData,                                                                                                                                                                                                              \n    intents_vistos: intentsVistos,                                                                                                                                                                                                            \n    pending_count: pendingMessages.length,                                                                                                                                                                                                    \n    current_mode: input.current_mode || 'conversacion'                                                                                                                                                                                        \n  };"
      },
      "id": "927d69ad-affd-4fce-b452-3c8a7f5afffe",
      "name": "Prepare Claude Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": $json.system,\n  \"messages\": $json.messages\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "501f8256-70b6-44f8-82a9-016ed97ac993",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -160
      ],
      "credentials": {
        "anthropicApi": {
          "id": "a60NiYpV50szsxWN",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  // Extract and process Claude response WITH CONDITIONALS                                                                                                                                                                                    \n  const claudeResponse = $json;                                                                                                                                                                                                               \n  const prevData = $node[\"Prepare Claude Messages\"].json;                                                                                                                                                                                     \n  const intentsVistos = prevData.intents_vistos || [];                                                                                                                                                                                        \n                                                                                                                                                                                                                                              \n  const responseText = claudeResponse.content?.[0]?.text || '{\"intent\":\"fallback\"}';                                                                                                                                                          \n                                                                                                                                                                                                                                              \n  // Clean markdown backticks                                                                                                                                                                                                                 \n  let cleanText = responseText.trim();                                                                                                                                                                                                        \n  if (cleanText.startsWith('```json')) {                                                                                                                                                                                                      \n    cleanText = cleanText.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');                                                                                                                                                                  \n  } else if (cleanText.startsWith('```')) {                                                                                                                                                                                                   \n    cleanText = cleanText.replace(/^```\\s*/, '').replace(/\\s*```$/, '');                                                                                                                                                                      \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // Parse JSON response                                                                                                                                                                                                                      \n  let parsed;                                                                                                                                                                                                                                 \n  try {                                                                                                                                                                                                                                       \n    parsed = JSON.parse(cleanText);                                                                                                                                                                                                           \n  } catch (e) {                                                                                                                                                                                                                               \n    console.log('Error parsing Claude response:', e);                                                                                                                                                                                         \n    parsed = { intent: 'fallback', extracted_data: {}, campos_completos: false, pack_detectado: null };                                                                                                                                       \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  let intent = parsed.intent || 'fallback';                                                                                                                                                                                                   \n  let extractedData = parsed.extracted_data || {};                                                                                                                                                                                            \n  let camposCompletos = parsed.campos_completos || false;                                                                                                                                                                                     \n  let packDetectado = parsed.pack_detectado;                                                                                                                                                                                                  \n  let capturedData = { ...prevData.captured_data };                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // 🔥 SINCRONIZAR: Si el último intent ejecutado por Carolina no está en la lista, agregarlo                                                                                                                                                \n  // Esto asegura que ofrecer_promos se guarde aunque no haya allFieldsComplete                                                                                                                                                               \n  if (prevData.captured_data._last_intent &&                                                                                                                                                                                                  \n      prevData.captured_data._last_intent !== 'fallback' &&                                                                                                                                                                                   \n      !intentsVistos.includes(prevData.captured_data._last_intent)) {                                                                                                                                                                         \n    intentsVistos.push(prevData.captured_data._last_intent);                                                                                                                                                                                  \n    capturedData._intents_vistos = intentsVistos;                                                                                                                                                                                             \n    console.log('🔄 SINCRONIZADO: Agregado _last_intent a intents_vistos:', prevData.captured_data._last_intent);                                                                                                                             \n    console.log('📋 Intents vistos actualizados:', intentsVistos);                                                                                                                                                                            \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // Merge extracted_data into captured_data                                                                                                                                                                                                  \n  for (const key in extractedData) {                                                                                                                                                                                                          \n    if (extractedData[key] && extractedData[key].toString().trim() !== '') {                                                                                                                                                                  \n      capturedData[key] = extractedData[key];                                                                                                                                                                                                 \n    }                                                                                                                                                                                                                                         \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // Check if all fields are complete                                                                                                                                                                                                         \n  const requiredFields = ['nombre', 'apellido', 'telefono', 'direccion', 'barrio', 'departamento', 'ciudad', 'correo'];                                                                                                                       \n  const allFieldsComplete = requiredFields.every(field => {                                                                                                                                                                                   \n    const value = capturedData[field];                                                                                                                                                                                                        \n    return value && String(value).trim() !== '';                                                                                                                                                                                              \n  });                                                                                                                                                                                                                                         \n                                                                                                                                                                                                                                              \n  // ================================                                                                                                                                                                                                         \n  // 🔒 CONDICIONALES PARA INTENTS                                                                                                                                                                                                            \n  // ================================                                                                                                                                                                                                         \n                                                                                                                                                                                                                                              \n  // Función helper para verificar si un intent fue visto O fue el último intent ejecutado                                                                                                                                                    \n  const hasSeenIntent = (intentName) => {                                                                                                                                                                                                     \n    return intentsVistos.includes(intentName) || prevData.captured_data._last_intent === intentName;                                                                                                                                          \n  };                                                                                                                                                                                                                                          \n  const hasSeenAnyIntent = (intentNames) => {                                                                                                                                                                                                 \n    return intentNames.some(name => intentsVistos.includes(name) || prevData.captured_data._last_intent === name);                                                                                                                            \n  };                                                                                                                                                                                                                                          \n                                                                                                                                                                                                                                              \n  console.log('📊 CONDICIONALES - Estado actual:', {                                                                                                                                                                                          \n    intent_detectado: intent,                                                                                                                                                                                                                 \n    intents_vistos: intentsVistos,                                                                                                                                                                                                            \n    last_intent: prevData.captured_data._last_intent,                                                                                                                                                                                         \n    all_fields_complete: allFieldsComplete,                                                                                                                                                                                                   \n    pack: capturedData.pack                                                                                                                                                                                                                   \n  });                                                                                                                                                                                                                                         \n                                                                                                                                                                                                                                              \n  // 1️⃣ CONDICIONAL: ofrecer_promos                                                                                                                                                                                                           \n  // Solo se puede activar si todos los campos están completos                                                                                                                                                                                \n  if (intent === 'ofrecer_promos') {                                                                                                                                                                                                          \n    if (!allFieldsComplete) {                                                                                                                                                                                                                 \n      console.log('❌ BLOQUEADO: ofrecer_promos requiere todos los campos completos');                                                                                                                                                        \n      intent = 'fallback';                                                                                                                                                                                                                    \n    } else {                                                                                                                                                                                                                                  \n      console.log('✅ PERMITIDO: ofrecer_promos (campos completos)');                                                                                                                                                                         \n    }                                                                                                                                                                                                                                         \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // 2️⃣ CONDICIONAL: resumen_1x/2x/3x                                                                                                                                                                                                         \n  // Solo se puede activar si ya se ofrecieron promos                                                                                                                                                                                         \n  if (intent.startsWith('resumen_')) {                                                                                                                                                                                                        \n    if (!hasSeenIntent('ofrecer_promos')) {                                                                                                                                                                                                   \n      console.log('❌ BLOQUEADO: resumen requiere que se hayan ofrecido promos primero');                                                                                                                                                     \n      intent = 'fallback';                                                                                                                                                                                                                    \n    } else {                                                                                                                                                                                                                                  \n      console.log('✅ PERMITIDO: resumen (ya se ofrecieron promos)');                                                                                                                                                                         \n    }                                                                                                                                                                                                                                         \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // 3️⃣ CONDICIONAL: compra_confirmada                                                                                                                                                                                                        \n  // Solo se puede activar si ya se mostró un resumen (resumen_1x/2x/3x)                                                                                                                                                                      \n  // Si hay resumen, implica que ya se ofrecieron promos y se completaron datos                                                                                                                                                               \n  if (intent === 'compra_confirmada') {                                                                                                                                                                                                       \n    const hasSeenResumen = hasSeenAnyIntent(['resumen_1x', 'resumen_2x', 'resumen_3x']);                                                                                                                                                      \n                                                                                                                                                                                                                                              \n    if (!hasSeenResumen) {                                                                                                                                                                                                                    \n      console.log('❌ BLOQUEADO: compra_confirmada requiere resumen_Xx primero');                                                                                                                                                             \n      intent = 'fallback';                                                                                                                                                                                                                    \n    } else {                                                                                                                                                                                                                                  \n      console.log('✅ PERMITIDO: compra_confirmada (ya se mostró resumen)');                                                                                                                                                                  \n    }                                                                                                                                                                                                                                         \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // 4️⃣ CONDICIONAL: no_confirmado                                                                                                                                                                                                            \n  // Solo se puede activar si ya se mostró un resumen                                                                                                                                                                                         \n  if (intent === 'no_confirmado') {                                                                                                                                                                                                           \n    const hasSeenResumen = hasSeenAnyIntent(['resumen_1x', 'resumen_2x', 'resumen_3x']);                                                                                                                                                      \n                                                                                                                                                                                                                                              \n    if (!hasSeenResumen) {                                                                                                                                                                                                                    \n      console.log('❌ BLOQUEADO: no_confirmado requiere resumen_Xx primero');                                                                                                                                                                 \n      intent = 'fallback';                                                                                                                                                                                                                    \n    } else {                                                                                                                                                                                                                                  \n      console.log('✅ PERMITIDO: no_confirmado (ya se mostró resumen)');                                                                                                                                                                      \n    }                                                                                                                                                                                                                                         \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // ================================                                                                                                                                                                                                         \n  // AUTO-DETECCIÓN (con condicionales)                                                                                                                                                                                                       \n  // ================================                                                                                                                                                                                                         \n                                                                                                                                                                                                                                              \n  // Auto-detect: If all data complete but no pack → ofrecer_promos                                                                                                                                                                           \n  if (allFieldsComplete && !packDetectado && !capturedData.pack && intent !== 'ofrecer_promos') {                                                                                                                                             \n    if (intent === 'fallback' || intent === 'captura_datos_si_compra') {                                                                                                                                                                      \n      intent = 'ofrecer_promos';                                                                                                                                                                                                              \n      console.log('🤖 AUTO-DETECT: Activando ofrecer_promos (datos completos)');                                                                                                                                                              \n                                                                                                                                                                                                                                              \n      // 🔥 FIX CRITICO: Agregar ofrecer_promos a intents_vistos INMEDIATAMENTE                                                                                                                                                               \n      if (!intentsVistos.includes('ofrecer_promos')) {                                                                                                                                                                                        \n        intentsVistos.push('ofrecer_promos');                                                                                                                                                                                                 \n        capturedData._intents_vistos = intentsVistos;                                                                                                                                                                                         \n        console.log('✅ AUTO-DETECT: ofrecer_promos agregado a intents_vistos INMEDIATAMENTE');                                                                                                                                               \n        console.log('📋 Intents vistos ahora:', intentsVistos);                                                                                                                                                                               \n      }                                                                                                                                                                                                                                       \n    }                                                                                                                                                                                                                                         \n    camposCompletos = true;                                                                                                                                                                                                                   \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // Auto-detect pack selection                                                                                                                                                                                                               \n  if (packDetectado) {                                                                                                                                                                                                                        \n    // Verificar que se hayan ofrecido promos primero                                                                                                                                                                                         \n    if (hasSeenIntent('ofrecer_promos')) {                                                                                                                                                                                                    \n      intent = `resumen_${packDetectado}`;                                                                                                                                                                                                    \n      capturedData.pack = packDetectado;                                                                                                                                                                                                      \n      const precios = { '1x': 77900, '2x': 109900, '3x': 139900 };                                                                                                                                                                            \n      capturedData.precio = precios[packDetectado];                                                                                                                                                                                           \n      console.log('🤖 AUTO-DETECT: Activando resumen_' + packDetectado);                                                                                                                                                                      \n    } else {                                                                                                                                                                                                                                  \n      console.log('❌ BLOQUEADO: No se puede activar resumen sin ofrecer_promos primero');                                                                                                                                                    \n      intent = 'fallback';                                                                                                                                                                                                                    \n    }                                                                                                                                                                                                                                         \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  // SIMPLIFICADO: Solo activar collecting_data, nunca desactivarlo                                                                                                                                                                           \n  let newMode = null; // null = no cambiar el mode actual                                                                                                                                                                                     \n                                                                                                                                                                                                                                              \n  // Activar collecting_data cuando usuario muestra intención de compra                                                                                                                                                                       \n  if (intent === 'captura_datos_si_compra' ||                                                                                                                                                                                                 \n      intent === 'hola+captura_datos_si_compra' ||                                                                                                                                                                                            \n      intent.startsWith('resumen_')) {                                                                                                                                                                                                        \n    newMode = 'collecting_data';                                                                                                                                                                                                              \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  console.log('📊 STATE ANALYZER OUTPUT FINAL:');                                                                                                                                                                                             \n  console.log('Intent Final:', intent);                                                                                                                                                                                                       \n  console.log('New Mode:', newMode);                                                                                                                                                                                                          \n  console.log('Pack Detected:', packDetectado);                                                                                                                                                                                               \n  console.log('Campos Completos:', camposCompletos);                                                                                                                                                                                          \n                                                                                                                                                                                                                                              \n  // Actualizar intents_vistos (para cualquier otro intent que no sea ofrecer_promos ya agregado)                                                                                                                                             \n  if (intent && intent !== 'fallback' && !intentsVistos.includes(intent)) {                                                                                                                                                                   \n    intentsVistos.push(intent);                                                                                                                                                                                                               \n    capturedData._intents_vistos = intentsVistos;                                                                                                                                                                                             \n    console.log('✅ Intent agregado a intents_vistos:', intent);                                                                                                                                                                              \n    console.log('📋 Intents vistos actualizados:', intentsVistos);                                                                                                                                                                            \n  }                                                                                                                                                                                                                                           \n                                                                                                                                                                                                                                              \n  return {                                                                                                                                                                                                                                    \n    phone: prevData.phone,                                                                                                                                                                                                                    \n    intent,                                                                                                                                                                                                                                   \n    new_mode: newMode,                                                                                                                                                                                                                        \n    extracted_data: extractedData,                                                                                                                                                                                                            \n    captured_data: capturedData,                                                                                                                                                                                                              \n    campos_completos: camposCompletos,                                                                                                                                                                                                        \n    pack_detectado: packDetectado,                                                                                                                                                                                                            \n    all_fields_complete: allFieldsComplete                                                                                                                                                                                                    \n  };"
      },
      "id": "0efb3ecd-8ce1-4bec-b84a-2a5048eccc2f",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "65753bdd-a221-4426-a1f8-b967c1b95590",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        736,
        -160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Prepare Claude Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Messages": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cc9d71aa-4ab4-4dbf-8d0f-1353ac0a1966",
  "meta": {
    "instanceId": "4df0d5bdc3c11c3032ef84d3eeea517f836272ccd7fbc040b607c1bfca545db1"
  },
  "id": "niGx5lqP0bKooMai",
  "tags": []
}