robot-bigin-coord/n8n/refresh-bigin-token.json
{
  "name": "[Sub] Refresh Bigin Token",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-trigger",
      "name": "Cuando se llama este workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://accounts.zoho.com/oauth/v2/token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "refresh_token",
              "value": "1000.ffacc81e6474de4c1e55afbedad4f8ef.10de44fb974487be41421eb8a292754d"
            },
            {
              "name": "client_id",
              "value": "1000.1O753Z59ILMC38F7RO0639XVTQGNAL"
            },
            {
              "name": "client_secret",
              "value": "0d3d0df40e7c665812a6379e660791c1ad47f75696"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "id": "refresh-token",
      "name": "Refresh Token Zoho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "access_token",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            },
            {
              "id": "authorization",
              "name": "authorization",
              "value": "=Zoho-oauthtoken {{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "output-token",
      "name": "Return Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Cuando se llama este workflow": {
      "main": [
        [
          {
            "node": "Refresh Token Zoho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Token Zoho": {
      "main": [
        [
          {
            "node": "Return Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
