robot-bigin-coord/n8n/workflow-coordinadora.json
{
  "name": "🚚 Subir Órdenes a Coordinadora",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-slack-trigger",
              "leftValue": "={{ $json.text.toLowerCase() }}",
              "rightValue": "subir ordenes coord",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-mensaje",
      "name": "Filtrar Mensaje",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.zohoapis.com/bigin/v1/Deals/search",
        "authentication": "oAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "criteria",
              "value": "(Stage:equals:ROBOT COORD)"
            }
          ]
        },
        "options": {}
      },
      "id": "bigin-get-orders",
      "name": "Bigin: Obtener Órdenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "credentials": {
        "oAuth2Api": {
          "id": "CONFIGURAR_ZOHO_OAUTH",
          "name": "Zoho Bigin OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-orders-exist",
              "leftValue": "={{ $json.data?.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-orders",
      "name": "¿Hay Órdenes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "messages": {
          "values": [
            {
              "content": "Procesas órdenes de Bigin para Coordinadora.\n\nMAPEO DE DEPARTAMENTOS (usa estas abreviaturas EXACTAS):\nANTIOQUIA=ANT, ATLANTICO=ATL, BOLIVAR=BOL, BOYACA=BOY, CALDAS=CDAS, CAQUETA=CAQ, CASANARE=C/NARE, CAUCA=CAU, CESAR=CES, CHOCO=CHOCO, CORDOBA=CORD, CUNDINAMARCA=C/MARCA, GUAINIA=GUAI, GUAVIARE=G/VIARE, HUILA=HLA, LA GUAJIRA=GUAJ, GUAJIRA=GUAJ, MAGDALENA=MG/LENA, META=META, NARIÑO=NAR, NARINO=NAR, NORTE DE SANTANDER=N/STDER, PUTUMAYO=P/MAYO, QUINDIO=QDIO, RISARALDA=RS, SAN ANDRES=S/ANDRES, SANTANDER=STDER, SUCRE=SUCRE, TOLIMA=TOL, VALLE=VALLE, VALLE DEL CAUCA=VALLE, VAUPES=V/PES, VICHADA=VICH, AMAZONAS=AMAZ, ARAUCA=ARAU, BOGOTA=C/MARCA\n\nREGLAS:\n\n1. TELÉFONO: Quitar 57 del inicio, quitar espacios/guiones. Debe ser 10 dígitos.\n   Ej: \"+57 316 3709528\" → \"3163709528\"\n\n2. NOMBRE: Primera palabra = nombres, resto = apellidos. Si solo hay una, apellidos = \"Cliente\"\n\n3. UNIDADES: 77900→1, 109900→2, 139900→3. Si otro valor, buscar \"(X unidades)\" en descripción.\n\n4. RECAUDO: Si nombre tiene \"&\" o tag \"PAGO ANTICIPADO\" → false. Sino → true\n\n5. CIUDAD (MUY IMPORTANTE): Formato EXACTO: \"MUNICIPIO (ABREV_DEPTO)\"\n   - Municipio en MAYÚSCULAS\n   - Usar abreviatura del mapeo arriba\n   - Ejemplos: \"BUCARAMANGA (STDER)\", \"MEDELLIN (ANT)\", \"BOGOTA (C/MARCA)\"\n\n6. VALORES FIJOS: referencia=\"AA1\", valorDeclarado=55000, peso=0.08, alto=5, largo=5, ancho=10, totalIva=0\n\nDevuelve SOLO JSON array, sin explicación:\n[{\n  \"identificacion\": \"10 dígitos\",\n  \"nombres\": \"string\",\n  \"apellidos\": \"string\",\n  \"direccion\": \"string\",\n  \"ciudad\": \"MUNICIPIO (ABREV)\",\n  \"departamento\": \"nombre original\",\n  \"celular\": \"10 dígitos\",\n  \"email\": \"string o null\",\n  \"referencia\": \"AA1\",\n  \"unidades\": number,\n  \"totalConIva\": number,\n  \"valorDeclarado\": 55000,\n  \"esRecaudoContraentrega\": boolean,\n  \"peso\": 0.08,\n  \"alto\": 5,\n  \"largo\": 5,\n  \"ancho\": 10,\n  \"biginOrderId\": \"string\",\n  \"biginOrderName\": \"string\"\n}]",
              "role": "system"
            },
            {
              "content": "=Procesa estas órdenes de Bigin:\n\n{{ JSON.stringify($json.data, null, 2) }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxTokens": 4096
        }
      },
      "id": "claude-process",
      "name": "Claude: Procesar Datos",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1140, 200],
      "credentials": {
        "anthropicApi": {
          "id": "CONFIGURAR_ANTHROPIC_API",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta de Claude\nconst response = $input.first().json;\nlet pedidos = [];\n\ntry {\n  // Claude devuelve el JSON en el contenido\n  const content = response.message?.content || response.content || response.text;\n  \n  // Extraer JSON del texto\n  const jsonMatch = content.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n  if (jsonMatch) {\n    pedidos = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  console.error('Error parseando respuesta:', e);\n}\n\nreturn pedidos.map(p => ({ json: p }));"
      },
      "id": "parse-claude",
      "name": "Parsear Respuesta Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3001/api/crear-pedido",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "identificacion",
              "value": "={{ $json.identificacion }}"
            },
            {
              "name": "nombres",
              "value": "={{ $json.nombres }}"
            },
            {
              "name": "apellidos",
              "value": "={{ $json.apellidos }}"
            },
            {
              "name": "direccion",
              "value": "={{ $json.direccion }}"
            },
            {
              "name": "ciudad",
              "value": "={{ $json.ciudad }}"
            },
            {
              "name": "departamento",
              "value": "={{ $json.departamento }}"
            },
            {
              "name": "celular",
              "value": "={{ $json.celular }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "referencia",
              "value": "={{ $json.referencia }}"
            },
            {
              "name": "unidades",
              "value": "={{ $json.unidades }}"
            },
            {
              "name": "totalConIva",
              "value": "={{ $json.totalConIva }}"
            },
            {
              "name": "valorDeclarado",
              "value": "={{ $json.valorDeclarado }}"
            },
            {
              "name": "esRecaudoContraentrega",
              "value": "={{ $json.esRecaudoContraentrega }}"
            },
            {
              "name": "peso",
              "value": "={{ $json.peso }}"
            },
            {
              "name": "alto",
              "value": "={{ $json.alto }}"
            },
            {
              "name": "largo",
              "value": "={{ $json.largo }}"
            },
            {
              "name": "ancho",
              "value": "={{ $json.ancho }}"
            },
            {
              "name": "biginOrderId",
              "value": "={{ $json.biginOrderId }}"
            },
            {
              "name": "biginOrderName",
              "value": "={{ $json.biginOrderName }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "robot-crear-pedido",
      "name": "Robot: Crear Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 200]
    },
    {
      "parameters": {
        "jsCode": "// Recopilar resultados\nconst items = $input.all();\n\nconst exitosos = items.filter(i => i.json.success).length;\nconst fallidos = items.filter(i => !i.json.success).length;\n\nconst pedidosCreados = items\n  .filter(i => i.json.success)\n  .map(i => i.json.numeroPedido)\n  .join(', ');\n\nconst errores = items\n  .filter(i => !i.json.success)\n  .map(i => `• ${i.json.biginOrderName || 'Pedido'}: ${i.json.error}`)\n  .join('\\n');\n\nlet mensaje = '';\n\nif (exitosos > 0) {\n  mensaje += `✅ *${exitosos} pedido(s) creado(s):* ${pedidosCreados}\\n`;\n}\n\nif (fallidos > 0) {\n  mensaje += `\\n❌ *${fallidos} pedido(s) fallido(s):*\\n${errores}`;\n}\n\nif (exitosos === 0 && fallidos === 0) {\n  mensaje = '⚠️ No se procesaron pedidos';\n}\n\nreturn [{\n  json: {\n    mensaje,\n    exitosos,\n    fallidos,\n    total: items.length\n  }\n}];"
      },
      "id": "resumen-resultados",
      "name": "Generar Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.mensaje }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-respuesta",
      "name": "Slack: Enviar Resultado",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2020, 200],
      "credentials": {
        "slackApi": {
          "id": "CONFIGURAR_SLACK",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "⚠️ No hay órdenes en el stage *ROBOT COORD*",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-no-orders",
      "name": "Slack: Sin Órdenes",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1140, 420],
      "credentials": {
        "slackApi": {
          "id": "CONFIGURAR_SLACK",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "event": "message"
      },
      "id": "slack-trigger",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [260, 300],
      "webhookId": "coordinadora-bot-trigger",
      "credentials": {
        "slackApi": {
          "id": "CONFIGURAR_SLACK",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filtrar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensaje": {
      "main": [
        [
          {
            "node": "Bigin: Obtener Órdenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bigin: Obtener Órdenes": {
      "main": [
        [
          {
            "node": "¿Hay Órdenes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Órdenes?": {
      "main": [
        [
          {
            "node": "Claude: Procesar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Sin Órdenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Procesar Datos": {
      "main": [
        [
          {
            "node": "Parsear Respuesta Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta Claude": {
      "main": [
        [
          {
            "node": "Robot: Crear Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Robot: Crear Pedido": {
      "main": [
        [
          {
            "node": "Generar Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Resumen": {
      "main": [
        [
          {
            "node": "Slack: Enviar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Logística",
      "createdAt": "2026-01-21T00:00:00.000Z",
      "updatedAt": "2026-01-21T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-21T00:00:00.000Z",
  "versionId": "1"
}
